{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <h1>Nearby Stations</h1>
    <div class="red-text">
        The user location is hard coded. Improvements will be made
    </div>
    <div id="location-details">
    <p>Timestamp: <span id="timestamp"></span></p>
    <p>Latitude:  <span id="lat"></span></p>
    <p>Longitude: <span id="long"></span></p>
    <p>Lat/Long Accuracy (in meters): <span id="accuracy"></span></p>
    <p>Altitude (in meters above sea level): <span id="altitudeaccuracy"></span></p>
    <p>Heading (Degrees from true north): <span id="heading"></span></p>
    <p>Speed (in meters/second):  <span id="speed"></span></p>
        <button onclick="testGeoController();">Test geoController</button>
    </div>
    <div id="errorArea" class=" red alert"></div>


    <div class="container">
    <p>Your Current Location: </p>
    <p id = "status"></p>
    <a id = "map-link" target="_blank"></a>
<br>
    {% if stations %}
    <ul>
        {% for station in stations %}
        <li> {{station.name}}: {{station.distance}} </li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>


</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/geoController.js' %}"></script>
    <script src="{% static 'js/geolocation.js' %}"></script>
{% endblock%}
